.blog-comment-number,
.showTags {
  display: none;
}
.blog-tags {
  display: none;
}

.step-container {
  width: 700px;
  margin: auto;
  box-sizing: content-box;
}

.step-container * {
  font-family: sans-serif;
  line-height: 150%;
}

.step-container p,
strong,
em,
li,
ul,
ol,
text,
h3 {
  font-size: 14px;
}

.step-container h2 {
  font-weight: bold;
}

.step-container span {
  font-family: sans-serif;
  line-height: 150%;
}

.step-container section {
  margin: 5% auto;
  padding-bottom: 10%;
}

.step-container section:first-of-type {
  border-top: none;
  margin-top: 0;
}

.step-container section:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}

.step-container h3 {
  font-weight: bolder;
  text-align: center;
}
.step-container p strong {
  font-weight: bold;
}

.step-container img {
  display: block;
  margin: 5% auto 5% auto;
  width: 90%;
}

.step-container .table-note {
  font-size: 90%;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
}

.graph-wrapper {
  margin: 5% auto 5%;
  background-color: rgb(249, 249, 249);
  padding: 3% 1%;
  border-radius: 5px;
  text-transform: none;
}

.graph-wrapper p {
  font-weight: bold;
  text-align: center;
}

.graph-wrapper svg {
  margin: auto;
  display: block;
}
.graph-wrapper.pull-quote, .graph-wrapper.single-data-point{
  width:300px;
  padding: 5% 1%;
  margin:3% 1%;
}
.graph-wrapper.pull-quote p{
  font-family:"Georgia",serif!important
}
.graph-wrapper.pull-quote:nth-of-type(odd){
  float:right;
}

.graph-wrapper.pull-quote:nth-of-type(even), .graph-wrapper.single-data-point {
  float:left;
}
.graph-wrapper.pull-quote p::before, .graph-wrapper.pull-quote p::after {
content:'"';
font-size:66px;
color:#0099cd;
display:block;
}
.graph-wrapper.pull-quote p::after{
  position:relative;
  top:35px;
}

.cause-of-death-flexbox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cause-of-death-container {
  width: 220px;
  height:200px;
  background-color:white;
  border-radius:15px;
  border: 1px solid black;
}

.cause-of-death-container span {
  font-size: 66px;
  display: block;
  color: #0099cd;
}

.cause-of-death-container span sup {
  font-size: 50%;
}

.state-icon-outline-svg-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.state-icon-svg-container,
.state-icon-outline-svg-container {
  width: 50%;
  margin: 5% auto;
}

.state-icon-outline-svg-wrapper rect {
  width: 100%;
  height: 100%;
  fill: rgb(249, 249, 249);
}

.state-icon-outline-1 {
  fill: #0099cd;
}

.state-icon-outline-2 {
  fill: none;
  stroke: #0099cd;
  stroke-miterlimit: 10;
  stroke-width: 3px;
}

.state-icon-outline-3 {
  font-size: 50px;
  font-weight: bold;
  fill: #221f1f;
  font-family: ArialMT, Arial;
}

.rect-cover-animation {
  animation: rect-animation;
  animation-fill-mode: forwards;
  animation-duration: 5s;
}

.legend-wrapper {
  display: flex;
  justify-content: center;
  margin: 1% auto;
  align-items: center;
}

.legend-wrapper i,
.legend-wrapper span {
  margin: 0 1%;
}

.legend-wrapper span {
  font-size: 14px;
}

.legend-wrapper i {
  display: inline-block;
  width: 15px;
  height: 15px;
}

.line-chart-wrapper .legend-wrapper i {
  border-radius:50%;
}

.tooltip {
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  color: white;
  font-family: "helvetica", sans-serif;
  line-height: 150%;
  font-weight: bold;
  background-color: gray;
  padding: 1%;
  border-radius: 15px;
  width: 200px;
  transition: opacity 0.3s ease-in-out;
  display:none;
}

.tooltip i {
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 5%;
  border-radius:50%;
}

@keyframes rect-animation {
  from {
    width: 100%;
    transform: translateX(0%);
  }

  to {
    width: 0%;
    transform: translateX(100%);
  }
}

@media screen and (max-width: 800px) {
  .step-container p {
    font-size: 22px;
  }
  .step-container h2,
  .step-container h3 {
    font-size: 30px;
  }

  .step-container ul li,
  .step-container ol li {
    font-size: 22px;
    line-height: 120%;
  }

  .step-container .aside div {
    float: none;
    width: 100%;
    margin: 3% auto;
  }

  .step-container .aside div img {
    display: none;
  }

  .step-container .aside div p {
    text-align: center;
  }

  section h2 {
    font-size: 200%;
  }
}
